/* Enter your custom styles here */
.headerColor {
    height: 100px;
    width: 100%;
    background: red;
}

.heightZero {
    height: 0px!important;
}

.salvaImpegno-margin-bottom{
    margin-bottom:0.2rem!important;
  }

.lbl-header-margin-right{
    margin-right: 0.2rem!important;
}

.text-overflow > div{
    overflow: auto!important;
}

.paginatorClass{
    text-align: center!important;
}

.paginatorClass >.sapMFCCTxt{
    height: 40%!important;
    font-weight:bold
}
.paginatorClass >.sapMFCCTxt>span{
    color: #346187;
}
.paginatorClass >.sapMFCSbh{
    color: #346187;
}
